<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/timetable.css') }}" >
            {% block mystyle %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# Login panel #}
        <div style="background-color: gray;">
            {%if app.user %}
                Zalogowany jako {% if is_granted('ROLE_ADMIN') %} ADMINISTRATOR -> <a href="{{ path('admin') }}">panel</a>{% else %} {{ app.user }}{% endif %} | <a href="{{ path('fos_user_security_logout')}}">Wyloguj się</a>
            {% else %}
                <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a>
            {% endif%}
        </div>
        <div class="container">
            {% block body %}
                <a href="{{ path('list_classroom')}}">Lista sal</a>
            {% endblock %}
            {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
