{% extends 'base.html.twig' %}

{% macro timetable(day)%}
    <table class="srs_timetable"> 
    {% set cells = 0 %}
    {% for reservation in day %}
        {# Narysuj komorki przed rezerwacja #}
        {% if (reservation.start - cells) > 1 %}
            {% set cells_to_draw = (reservation.start - cells ) %}
            {% set iterator = 0 %}
            {% for i in 1..(cells_to_draw - 1)%}
                <tr>
                    <td></td>
                    <td style="visibility:hidden; width: 1px; border:0px;"></td>
                </tr>
                {% set iterator = iterator + 1 %}
            {% endfor %}
            {% set cells = cells + iterator %}
        {% endif %}
        {# Rysuj rezerwacje #}
        <tr>
            {% if reservation.duration == 1 %}
                <td bgcolor="gray">Rezerwacja</td>
                <td style="visibility:hidden; width: 1px; border:0px;"></td>
                {% set cells = cells + 1 %}
            {% else %} 
                <td rowspan="{{ reservation.duration }}" bgcolor="orchid">Rezerwacja</td>{% set rowspan = (reservation.duration) %}
                <td style="visibility:hidden; width: 1px; border:0px;"></td>
                {% set cells = cells + 1 %}
                {% for i in 1..(rowspan - 1)%}
                    <tr>
                        <td style="visibility:hidden; width: 1px; border:0px;"></td>
                    </tr>
                    {% set cells = cells + 1 %}
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
    {# Dorysuj brakujące komórki po ostatniej rezerwacji #}
    {% if cells < 13 %}
        {% for i in (cells+1)..13%}
                <tr>
                    <td></td>
                    <td style="visibility:hidden; width: 1px; border:0px;"></td>
                </tr>
        {% endfor %}
    {% endif %}
    </table> 
{% endmacro %}

{% import _self as my_macro %}

{% block title %}Widok sali{% endblock %}

{% block  mystyle %}
{# <link rel="stylesheet" href="{{ asset('css/classroom.css') }}" > #}
{% endblock %}

{% block body %}
   <table class="srs_timetable">
       <tr>
           <th></th>
           <th>Poniedziałek</th>
           <th>Wtorek</th>
           <th>Środa</th>
           <th>Czwartek</th>
           <th>Piątek</th>
       </tr>
       <tr>
           <td>
               {# Tabelka godzin #}
               <table>
                    <tr>
                        <td>08:00 - 09:00</td>
                    </tr>
                    <tr>
                        <td>09:00 - 10:00</td>
                    </tr>
                    <tr>
                        <td>10:00 - 11:00</td>
                    </tr>
                    <tr>
                        <td>11:00 - 12:00</td>
                    </tr>
                    <tr>
                        <td>12:00 - 13:00</td>
                    </tr>
                    <tr>
                        <td>13:00 - 14:00</td>
                    </tr>
                    <tr>
                        <td>14:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td>15:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>16:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>17:00 - 18:00</td>
                    </tr>
                    <tr>
                        <td>18:00 - 19:00</td>
                    </tr>
                    <tr>
                        <td>19:00 - 20:00</td>
                    </tr>
                    <tr>
                        <td>20:00 - 21:00</td>
                    </tr>
               </table>
           </td>
           <td>{{ my_macro.timetable(timetable_model.monday) }}</td>
           <td>{{ my_macro.timetable(timetable_model.tuesday) }}</td>
           <td>{{ my_macro.timetable(timetable_model.wednesday) }}</td>
           <td>{{ my_macro.timetable(timetable_model.thursday) }}</td>
           <td>{{ my_macro.timetable(timetable_model.friday) }}</td>
       </tr>
   </table>
    <h1>Sala {{ classroom.number }}</h1>
    <div>
        <p>{{ classroom.name }}</p>
        <hr/>
                <div class="container container__table">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-inverse table-striped">
                      <thead>
                        <tr>
                          <th class="th--no-border"></th>
                          <th class="th--center">Poniedziałek</th>
                          <th class="th--center">Wtorek</th>
                          <th class="th--center">Środa</th>
                          <th class="th--center">Czwartek</th>
                          <th class="th--center">Piątek</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="th--center th--height">8.00 - 9.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">9.00 - 10.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">10.00 - 11.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">11.00 - 12.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">12.00 - 13.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">13.00 - 14.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">14.00 - 15.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">15.00 - 16.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">16.00 - 17.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">17.00 - 18.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row" class="th--center th--height">18.00 - 19.00</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>


        <hr/>
        <h3>Rezerwacje:</h3>
        {% if classroom.reservations is empty %}
            Brak
        {% else%}
            {% for reservation in classroom.reservations %}
            <div class="well well-sm">
                Dzień: {{ reservation.day }}
                <br/>
                Od: {{ reservation.timeFrom }} do: {{ reservation.timeTo }}
                <br/>
                {% if reservation.user %}Zarezerwowano przez: {{ reservation.user }}{% endif %}
            </div>
            {% endfor %}
        {% endif %}
        
        <hr/>
        <h4>Zarezerwuj tę salę</h4>
        
        {% if app.user %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
            
                <button class="btn btn-primary">Rezerwuj</button>
            {{ form_end(form) }}
        {% else %}
            <p>Rezerwacji mogą dokonać tylko zalogowani użytkownicy. <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a></p>
        {% endif %}
        
        <a href="{{ path('list_classroom')}}" class="pull-right">Wróć do listy sal</a>
    </div>
{% endblock %}

{#
    <table>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
        </tr>
        <tr>
            <td>
                # wewnetrza tableka z rowspanami #
            </td>
            <td>
                #wewnetrza tableka z rowspanami#
            </td>
            <td>
                #wenetrzna tablka z rowspanami#
            </td>
            <td>
                #wewnetrza tableka z rowspanami#
            </td>
            <td>
                #wewnetrza tableka z rowspanami#
            </td>
        </tr>
    </table>
    #}
    {#
        {% for day in model%}
            {% for reservation in day%}
                <p>{{ reservation.start }}</p>
            {% endfor%}
        {% endfor%}
    #}
    
    
    
    {#
    
    <table>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
        </tr>
    </table>
    
    #}